<div class="grid-list-wrapper">
    <mat-grid-list cols="12" rowHeight="fit" gutterSize="0">
        <mat-grid-tile colspan="4" rowspan="1">
            <div class="web-part-wrapper">
                <div class="web-part">
                    <div style="width:100%;text-align:center;padding-top:50px;">Web part #1</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="8" rowspan="2">
            <div class="web-part-wrapper">
                <div class="web-part">
                    <div style="width:100%;text-align:center;padding-top:50px;">Web part #2</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="3">
            <div class="web-part-wrapper">
                <div class="web-part">
                    <div style="width:100%;text-align:center;padding-top:50px;">Web part #3</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="8" rowspan="2">
            <div class="web-part-wrapper">
                <div class="web-part">
                    <div style="width:100%;text-align:center;padding-top:50px;">Web part #4</div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>