<div class="work-task-wrapper">
    <button *ngIf="!revealedForm" mat-button color="primary" class="openFormButton" (click)="revealedForm = !revealedForm" >{{ (contentType == "LSTaskResolution" ? 'Tasks.NewResolution' : 'Tasks.NewTask' ) | translate }}</button>
    <form *ngIf="revealedForm" class="newTaskForm" #editTaskForm="ngForm">
        <mat-form-field>
            <input matInput type="text" placeholder="{{ 'Tasks.Name' | translate }}" [(ngModel)]="newTaskTitle" name="Title" #Title="ngModel"  [disabled]="userRole == 'assignedTo'">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="{{ 'Tasks.EndingDate' | translate }}" [matDatepicker]="dueDatePicker" [min]="minDate" [(ngModel)]="newTaskDueDate" name="DueDate" #DueDate="ngModel" [disabled]="userRole == 'assignedTo'">
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="padding-top: 16px;">
            <input matInput type="text" placeholder="{{ 'Tasks.Executor' | translate }}" (change)="validatePeoplepicker($event, editTaskForm)" (keyup)="onPeoplepickerValueChange($event)" [matAutocomplete]="userAuto" [(ngModel)]="newTaskAssignedTo" name="AssignedTo" #AssignedTo="ngModel" required>
            <mat-autocomplete #userAuto="matAutocomplete">
                <mat-option *ngFor="let user of filteredUsers" [value]="user.Name">
                    {{ user.Name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="lsdocsButtons" (click)="addNewSubTask()" >{{ 'Save' | translate }}</button>
    </form>
    <div *ngIf="revealedForm" class="line" ></div>
    <div *ngIf="preloaderVisible == 'inactive' " >
        <div *ngFor="let subtask of SubTasks" class='subtasks-container'>
            <label class="user_avatar" >
                <img [src]="subtask.authorAvatarUrl" />
            </label>
            <div class="subtask-content">
                <div>
                    <span class="left">
                        {{subtask.TaskAuthore.Title}}
                    </span>
                    <span class="right">
                        {{subtask.AssignedTo.Title}}
                    </span>
                </div>
                <div>
                    <span class="left"><label>{{subtask.Title}}</label></span>
                    <span class="right">
                        {{subtask.DueDate_view}}
                    </span>
                </div>
            </div>
            <label class="user_avatar">
                <img [src]="subtask.assignedToAvatarUrl" />
            </label>
        </div>
    </div>
    <div *ngIf="this.preloaderVisible == 'active' " class="ls-list-preloader" [@preloaderState]="preloaderVisible">
        <mat-spinner style="margin: auto;"></mat-spinner>
    </div>     
</div>